#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

.example-text {
  background-color: #f9fafb;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: Georgia, serif;
  color: #111827;
  line-height: 1.8;
  max-width: 800px;
  margin: 2rem auto;
}


/* ::highlight(search-highlight) {
  background-color: pink;
  color: white;
} */